/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */


/*Bootstrap overrides*/


.navbar .brand {
	color: rgb(83, 126, 129);
}

.brand {
	color: rgb(61, 59, 59);
}


.brand:hover {
	background-color: #ffffff;
	color: rgb(83, 126, 129);
}

h1, h2, h3 {
	color: rgb(88, 88, 88);
}